body {
    background-color: rgba(255, 255, 255, .9) /*#6F6349*/;
    text-align: center;
    font-family: yekan, sans-serif;
    font-size: 16px;
    color: white;
}

#particles {
    width: 100%;
    height: 100%;
    overflow: hidden;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
    z-index: -2;
}