@font-face {
    font-family: 'yekan';
    src: url('persian-fonts/yekan.ttf') format('truetype');
}

@font-face {
    font-family: 'sanss';
    src: url('persian-fonts/sans.ttf') format('truetype');
}

@font-face {
    font-family: 'shabnam';
    src: url('persian-fonts/Shabnam.eot'); /* IE9 Compat Modes */
    src: url('persian-fonts/Shabnam.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('persian-fonts/Shabnam.woff') format('woff'), /* Pretty Modern Browsers */
    url('persian-fonts/Shabnam.ttf') format('truetype') /* Safari, Android, iOS */
}

.font {
    font-family: 'shabnam', sans-serif;
}

@media only screen and (min-width: 767px) {
    .mobile_download {
        display: none;
    }
}

div#banner {
    position: relative;
    left: 0;
    right: 0;
    text-align: center;
    background: #fde073;
    overflow: hidden;
    -webkit-box-shadow: 0 0 5px black;
    -moz-box-shadow: 0 0 5px black;
    box-shadow: 0 0 5px black;
    margin-top: 25px;
    height: 50px;
}

div#banner-content {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

div#download_content {
    width: 100%;
    display: block;
}