.font {
    font-family: IRANSans, sans-serif;
}

.rtl {
    direction: rtl;
}

.font_sans {
    font-family: IRANSans, sans-serif;
}

.logo {
    display: table-cell;
    filter: url(filters.svg#grayscale);
    -webkit-filter: grayscale(1);
    margin: auto;
    vertical-align: center;
}

.logo:hover {
    filter: none;
    -webkit-filter: none;
}

.btn-pay {
    border-radius: 20px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    height: 40px;
    margin-bottom: 17px;
    padding: 4px 15px 5px 15px;
}

.swal2-title {
    font-family: IRANSans, sans-serif !important;
    font-weight: 400 !important;
}

.site-title {
    color: #fff;
    font-size: medium;
    left: 50%;
    line-height: 35px;
    position: fixed;
    text-align: center;
    transform: translateX(-50%);
    vertical-align: middle
}

@media only screen and (min-width: 767px) {
    .mobile_download {
        display: none;
    }
}

@media only screen and (max-width: 767px) {
    #banners {
        display: none;
    }

    .banner-content {
        position: relative;
        top: 50%;
        transform: translateY(-50%);
    }

    .download_content {
        color: black;
        display: block;
        font-size: 22px;
        width: 100%;
    }

    .mobile_download {
        background: darkgray;
        border-radius: 25px;
        display: block;
        height: 50px;
        left: 50%;
        margin-top: 20px;
        overflow: hidden;
        position: relative;
        text-align: center;
        text-decoration: none;
        transform: translateX(-75%);
        width: 80%;
    }

    .download_content:hover, .download_content:focus {
        color: black;
        text-decoration: none;
    }
}

@media only screen and (max-width: 321px) {
    .banner-content {
        position: relative;
        top: 50%;
        transform: translateY(-50%);
    }

    .download_content {
        color: black;
        display: block;
        font-size: 16px;
        width: 100%;
    }

    .mobile_download {
        background: darkgray;
        border-radius: 25px;
        display: block;
        height: 50px;
        left: 50%;
        margin-top: 20px;
        overflow: hidden;
        position: relative;
        text-align: center;
        text-decoration: none;
        transform: translateX(-75%);
        width: 80%;
    }
}

@media (min-width: 992px) {
    #cart {
        margin-right: -20px;
    }
}