@media (max-width: 1199px) {
    /**===== Layout =====**/
    .main-wrapper {
        padding: 0 20px;
    }

    #column-right .side-item .product-thumb .caption, #column-left .side-item .product-thumb .caption {
        width: 152px;
    }
}

@media only screen and (min-width: 992px) {
    /**===== footer =====**/
    #footer ul, .left-top {
        display: block !important;
    }
}

@media (max-width: 991px) {
    #banners {
        transform: translateX(-15%);
    }

    body {
        -webkit-text-size-adjust: auto;
    }

    /**===== Layout =====**/
    .main-wrapper {
        margin: 0px;
        padding: 0 10px;
    }

    .wrapper-box {
        margin: 0;
    }

    /**===== Header =====**/
    #header .header-row {
        padding: 75px 0 30px 0;
        text-align: center;
    }

    #header #logo a img {
        display: inline-block;
    }

    .table-container .col-table-cell {
        float: left;
        vertical-align: top;
    }

    .drop-icon {
        color: #fff;
        cursor: pointer;
        display: inline-block;
        float: left;
        font-size: 23px;
        height: 35px;
        line-height: 35px;
        text-align: center;
        width: 45px;
    }

    .left-top {
        background: #3E7CB4;
        display: none;
        min-width: 160px;
        padding: 5px 0;
        position: absolute;
        top: 35px;
        z-index: 99;
    }

    .left-top #language, .left-top #currency {
        border: none !important;
        display: block;
        float: none;
    }

    .left-top #language > .btn-group, #currency > .btn-group {
        display: block;
    }

    #header .links {
        border: none;
        float: none;
    }

    #header .links > ul > li {
        border: none !important;
        display: block;
        float: none;
        line-height: 30px;
    }

    #header .links, #language, #currency, #header #top-links {
        border: none !important;
    }

    #header #search {
        margin-top: 25px;
        position: relative;
    }

    #header #cart {
        margin-top: 25px;
        text-align: left;
    }

    #header #cart .dropdown-menu {
        left: 0;
        right: auto;
    }

    #header.style2 #cart {
        margin-bottom: 15px;
        margin-top: auto;
        text-align: center;
    }

    #header.style2 #cart .dropdown-menu {
        left: 50%;
        margin-left: -210px;
    }

    #header.style3 #cart {
        text-align: left;
    }

    /**===== Menu =====**/
    #menu .navbar-header {
        float: none;
    }

    #menu .navbar-nav {
        margin: 0px;
    }

    #menu .navbar-header > span {
        cursor: pointer;
        display: inline-block;
        font-size: 16px;
        height: 45px;
        line-height: 45px;
        margin: 0;
        padding: 0px 15px 0px 8px;
        position: relative;
        text-align: center;
        text-transform: uppercase;
    }

    #menu .navbar-header > span > b {
        display: inline-block;
    }

    #menu .navbar-header > span > b:after {
        border-color: #555 transparent transparent transparent;
        border-style: solid;
        border-width: 5px 6px 0px 6px;
        bottom: 48%;
        clear: both;
        content: ' ';
        display: block;
        height: 0;
        margin: 0 0 -6px 0px;
        opacity: 0.7;
        position: absolute;
        width: 0;
    }

    #menu .navbar-header > span > b:before {
        border-color: transparent transparent #555 transparent;
        border-style: solid;
        border-width: 0px 6px 5px 6px;
        clear: both;
        content: ' ';
        display: block;
        height: 0;
        margin: -6px 0 0 0px;
        opacity: 0.7;
        position: absolute;
        top: 49%;
        width: 0;
    }

    #menu {
        height: auto;
        padding: 0;
        text-align: center;
    }

    #menu .navbar-nav {
        text-align: left;
    }

    #menu .nav {
        box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.3);
        padding: 0;
        text-align: left;
    }

    #menu .nav > li {
        display: block;
        float: none;
        height: auto;
        padding: 0px;
    }

    #menu .nav > li > a {
        line-height: 35px;
    }

    #menu .nav > li > div {
        position: relative;
    }

    #menu .nav > li > div > ul {
        display: block;
        width: auto;
    }

    #menu .nav > li ul + ul {
        padding-left: 0px;
    }

    #menu .nav > li > .dropdown-menu ul > li {
        position: relative;
    }

    #menu .nav > li.mega-menu > div {
        width: 100%;
    }

    #menu .nav > li.mega-menu.dropdown {
        position: relative;
    }

    #menu .nav > li div > ul > li > a > span {
        display: none;
    }

    span.submore:after {
        color: #555;
        content: '+';
        cursor: pointer;
        display: block;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 22px;
        height: 32px;
        line-height: 32px;
        opacity: 0.6;
        position: absolute;
        right: 0;
        text-align: center;
        top: 0px;
        width: 30px;
        z-index: 1010;
    }

    span.submore.plus:after {
        content: '-';
    }

    #menu .nav > li.menu_brands.dropdown {
        position: relative;
    }

    #menu .nav > li.mega-menu > div {
        min-width: inherit;
        position: relative;
    }

    #menu .nav > li.mega-menu > div > .column {
        display: block;
        margin: 0;
        width: auto;
    }

    #menu .nav > li.mega-menu > div > .column > div {
        display: none;
        position: relative;
    }

    #menu .nav > li.mega-menu > div > .column > div ul {
        display: block;
    }

    #menu .nav > li.mega-menu > div > .column a, #menu .nav > li > div > ul li a, #menu .nav > li.mega-menu > div > .column > div > ul > li > a {
        margin: 0;
        padding: 7px 0;
        width: auto;
    }

    #menu .nav > li.sub:hover > a:after {
        display: none;
    }

    #menu .nav > li.custom-link-right {
        float: none;
    }

    #menu .nav > li > .dropdown-menu, #menu .nav > li > .dropdown-menu li .dropdown-menu {
        border: 0px none;
        box-shadow: none;
        float: none;
        left: auto;
        margin-top: 0px;
        min-width: inherit;
        position: relative;
        width: 100%;
    }

    #menu .nav > li .dropdown-menu ul {
        display: block;
        margin: 0 10px;
    }

    /**===== Product Item for Left and Right Panel =====**/
    #column-right .side-item .product-thumb .caption, #column-left .side-item .product-thumb .caption {
        max-width: 98px;
    }

    /**===== Fotter =====**/
    #footer .fpart-first {
        padding-bottom: 10px;
        padding-top: 30px;
    }

    #footer .column, #footer .contact, #footer .about_details {
        margin-bottom: 20px;
    }

    #footer .contact ul li {
        float: left;
        width: 30%;
    }

    #footer .contact ul li + li {
        margin: 0 0 0 4%;
    }

    #footer .powered_text, #footer .social {
        float: none !important;
    }

    #footer .social {
        margin: 0px !important;
        padding: 12px 0 0;
        text-align: center;
    }

    #footer .social a {
        display: inline-block;
        float: none;
    }

    #powered {
        height: auto;
        line-height: normal;
        padding-top: 10px;
        text-align: center;
        width: 100%;
    }

    #custom_side_block, #facebook, #twitter_footer, #video_box {
        display: none;
    }

    /**===== Product Page =====**/
    .product-list .left {
        float: none;
        width: auto;
    }

    .product-info > .left {
        float: none;
        margin-right: 0px;
    }

    .product-info > .left + .right {
        margin-left: auto;
    }

    .product-info .image {
        float: none;
    }

    .mousetrap {
        width: 99% !important;
    }

    #cloud-zoom-big {
        width: 99% !important;
    }

    #wrap #zoom1 img {
        display: inline-block !important;
    }

    .product-info .image-additional {
        margin-bottom: 10px;
        max-width: none;
        width: auto;
    }

    .product-info .image-additional a {
        display: inline-block;
        float: none;
    }

    /**===== Tabs =====**/
    #container .category-module h3 {
        padding: 0 0 30px 0;
        text-align: center;
    }

    .category-module .tabs {
        left: 5px;
        padding: 0;
        right: auto;
    }

    .category-module .tabs li a {
        font-size: 11px;
        padding: 0 5px;
    }

    .category-module .tabs li a.selected {
        padding: 0 5px;
    }

    .category-module .tabs li.active a {
        line-height: 22px;
        padding-bottom: 2px;
    }

    .table-container .col-table-cell {
        padding: 0px;
    }
}

@media (max-width: 767px) {
    /**===== Header =====**/
    #header .header-row {
        padding: 75px 0 35px 0;
    }

    #header #cart, #header.style2 #cart, #header.style3 #cart {
        text-align: center;
    }

    #header #cart .dropdown-menu {
        left: 50%;
        margin-left: -210px;
    }

    /**===== Tabs =====**/
    #container .category-module .owl-theme .owl-controls .owl-buttons div {
        top: -75px;
    }

    /**===== Footer =====**/
    #footer .contact ul li {
        float: none;
        width: auto;
    }

    #footer .contact ul li + li {
        margin: 12px 0 0 0;
    }

    #footer h5 {
        margin: 0px 0px 5px;
    }

    /**===== Forms =====**/
    .input-group.quantity .form-control {
        float: none;
    }

    .input-group.quantity .input-group-btn, .input-group.quantity .form-control {
        display: block
    }
}

@media screen and (max-width: 480px) {
    /**===== header =====**/
    #header .header-row {
        padding: 75px 0 35px 0;
    }

    #header #cart .dropdown-menu, #header.style2 #cart .dropdown-menu {
        left: 50%;
        margin-left: -155px;
        width: 310px;
    }

    /**===== Product Page =====**/
    .product-info .cart {
        text-align: center;
    }

    .product-info .cart div {
        float: none;
    }

    .product-info .cart > div {
        margin-bottom: 10px;
    }

    .product-info .cart div .qty {
        display: inline-block;
        float: none;
    }

    /**===== Tabs =====**/
    .htabs {
        padding-left: 0;
    }

    .htabs a, .nav > li > a {
        font-size: 11px;
        padding: 7px 5px 6px 5px;
    }

    .category-module .tabs li {
        line-height: 26px;
    }
}

/**===== Five Grid Columns =====**/
@media (min-width: 768px) {
    .col-sm-5ths {
        float: left;
        width: 20%;
    }
}

@media (min-width: 992px) {
    .col-md-5ths {
        float: left;
        width: 20%;
    }
}

@media (min-width: 1200px) {
    .col-lg-5ths {
        float: left;
        width: 20%;
    }
}
